:root{
    --teal: #2ec1ac;
    --teal_hover: #279e8c;
}

* {
    font-family: 'Poppins', sans-serif;
}

.h-font {
    font-family: 'Merienda', cursive;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.custom-bg {
    background-color: var(--teal);
    border: 1px solid var(--teal) ;
}

.custom-bg:hover {
    background-color: var(--teal_hover);
    border-color: var(--teal_hover);
}

.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.2); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px ridge rgb(132, 132, 132); 
    border-radius: 25px;
}

.custom-alert {
    position: fixed;
    top: 80px;
    right: 25px;
    z-index: 1050;
}

#dashboard-menu{
    position: fixed;
    height: 100%;
    z-index: 11;
}

@media screen and (max-width: 992px) {
    #dashboard-menu{
        height: auto;
        width: 100%;
    }
}

